<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <style>
        .error { color: red; }
        .success { color: green; }
    </style>
</head>
<body>
    <h1>Welcome</h1>
    
    <div>
        <a href="/teachers">View all Teachers</a> (Access: Admin)<br><br>
        <a href="/staff">View all Staff</a> (Access: Admin, Teacher)<br><br>
        <a href="/students">View My Details</a> (Access: All)<br><br>
    </div>

    {% if current_user.is_authenticated %}
        <div>
            <b>Current user</b>: {{current_user.email}}
            | <b>Role(s)</b>: 
            {% for role in current_user.roles %}
                {{role.name}}{% if not loop.last %}, {% endif %}
            {% endfor %}
            <br><br>
            <a href="/logout">Logout</a>
        </div>
    {% else %}
        <div>
            <a href="/signup">Sign up</a> | <a href="/signin">Sign in</a>
        </div>
    {% endif %}
</body>
</html>