<!DOCTYPE html>
<html>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div style="color: red;">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        
        <form method="POST" action="/login">
            Username: <input type="text" name="username"><br>
            <button type="submit">Login</button>
        </form>
    </body>
</html>